img {
    display: block;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    display: inline-block;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}